.control_page_one {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.page_one_options {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.control_options_container {
  display: flex;
  justify-content: center;
  background-color: rgb(243, 243, 243);
  padding: 0.6% 4%;
  border-radius: 7px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.15);
}

.contrel_options_nav {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1.5vw;
}

.contrel_options_nav > li {
  cursor: pointer;
  transition: scale 0.3s ease, font-weight 0.3s ease, color 0.3s ease;
  padding: 5px;
  font-size: 0.8vw;
}

.contrel_options_nav > li:hover {
  scale: 1.18;
  font-weight: 600;
  color: #45b39d;
}

.control_opc_select {
  scale: 1.1;
  font-weight: 600;
  color: #5daedc;
}

/*Metricas*/
.control_data_metricas {
  display: flex;
  margin-top: 2.6%;
  justify-content: center;
  gap: 2.5vw;
}

.metricas_data {
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8vw;
  box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.15);
  transition: scale 0.4s ease;
}

.metricas_data > p {
  width: 50%;
  font-weight: 600;
  text-align: center;
}

.metricas_data_text {
  width: 50%;
  height: 3.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #45b39d;
  gap: 0.6vw;
}

.metricas_data_text > p {
  color: white;
  font-weight: 600;
}

.metricas_data_img {
  width: 1.3vw;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.metricas_data_img > img {
  width: 100%;
  object-fit: contain;
}

.metricas_data:hover {
  scale: 1.15;
}

/*Control data Container*/

.control_data_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1vw;
  margin-top: 4vh;
  padding: 0 1vw 0 3vw;
}

.control_data_table {
  display: flex;
  flex-direction: column;
  width: 35%;
  max-height: 74vh;
  height: min-content;
  overflow: auto;
  border: 2px solid #45b39d;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
  overflow: auto;              /* Permite el scroll */
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;
}

control_data_table::-webkit-scrollbar {
  display: none;               /* Chrome, Safari, Opera */
}

.control_data_lote {
  display: flex;
  justify-content: center;
  gap: 0.5vw;
  padding: 1vh;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #44b09a;
  font-size: 1.3vw;
  font-weight: 600;
  color: aliceblue;
}

.control_table_data {
  padding: 1.3vh 0;
  width: 100%;
  overflow-x: hidden;
  border-collapse: collapse;
  border-radius: 5px;
  position: relative;
}

.control_table_data thead {
  background-color: #80edd0;
  position: sticky; 
  z-index: 4;
  top: 5.5vh;
}

/* Estilos para celdas */
.control_table_data th,
.control_table_data td {
  padding: 12px 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.delete-btn {
  background-color: transparent;
  border: none;
  color: red;
  font-weight: 500;
  cursor: pointer;
  transition: scale 0.4s ease-out;
}

.delete-btn:hover {
  scale: 1.2;
}

.control_table_data tbody tr:nth-child(even) {
  background-color: #bbf2e1;
}

.control_table_data tbody tr:hover {
  background-color: rgb(101, 218, 179);
}

/*Registro Agregar*/

.control_add_registro {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.ocultar_add {
  opacity: 0;
}

.mandar_fondo {
  z-index: -1;
}

.btn_add_register {
  padding: 1vh 0;
  background-color: #5daedc;
  color: aliceblue;
  border: none;
  font-size: 1vw;
  font-weight: 500;
  cursor: pointer;
}

.btn_add_register:hover {
  background-color: #5293b9;
}

.add_registro_container {
  width: 30%;
  height: 55%;
  background-color: white;
  border-radius: 10px;
  position: relative;;
}

.add_registro_container form {
  width: 100%;
  height: 100%;
  padding: 4vh 2vw 3vh 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add_registro_container legend {
  text-align: center;
  font-size: 1.5vw;
  margin-bottom: 5vh;
}

.add_registro_btns {
  display: flex;
  justify-content: space-between;
}

.control_btn_add_container {
  
  display: flex;
  justify-content: end;
  position: fixed;
  bottom: 2.5vh;
  right: 2vw;
  width: 50%;
  height: 7vh;
  gap: 1vw;
}

.control_btn_add_register, .control_btn_PDF {
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  border-radius: 50%;
  box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.2);
  bottom: 0;
  right: 0;
  background-color: #45b39d;
  color: white;
  cursor: pointer;
  transition: scale 0.4s ease-in;
}

.control_btn_add_register p {
  font-size: 3vw;
  font-weight: 600;
}

.control_btn_PDF{
  background-color: #de5656;
}

.control_btn_PDF p{
  font-size: 2vw;
  font-weight: 600;
}

.control_btn_add_register:hover{
  background-color: #399482;
  scale: 1.14;
}

.control_btn_PDF:hover{
  background-color: #982828;
  scale: 1.14;
}

/*Formulario*/


.add_registro_container input,
.add_registro_container select {
  width: fit-content;
  width: 80%;
  padding: 1.1% 2%;
  font-size: 1vw;
}

.control_form_inputs label {
  font-size: 1.1vw;
  font-weight: 500;
  width: 40%;
}

.control_table_search{
  font-size: 1vw;
  width: 100%;

}


.add_registro_btns button{
  width: 30%;
  padding: 0.6vh 0;
  font-size: 1.2vw;
  background-color: #de5656;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in;
}

.add_registro_btns button:nth-child(2){
  background-color: #60d369;
}

.add_registro_btns button:hover{
  transform: scale(1.1);
}

.control_error_data_msg{
  background-color: #de5656;
  padding: 2% 0 ;
  transform: translateY(-1vh)
}

.control_error_data_msg p{
  text-align: center;
  color: white;
  font-weight: 500;
}

.ocultar_msg{
  display: none;
}

/* Graficas */

.control_low_data{
  width: 80%;
  height: 25%;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 1vh;
}

.control_low_data video{
  height: 80%;
}

.control_low_data p{
  font-weight: 500;
  font-size: 1.2vw;
}

.control_data_grapics {
  width: 70%;
  height: 68vh;
  position: relative;
}

.echarts-for-react  {
  transition: width 0.5s ease, height 0.5s ease;
  /* Otras propiedades de estilo */
}

.control_pdf{
  z-index: 150;
  position: absolute;
  transform: translateY(110vh) ;
  transition: transform 0.6s ease-in-out, background-color 0.8s ease-out;
}

.move_animated_pdf{
  transform: translateY(0vh);
  background-color: rgba(0, 0, 0, 0.6);
}

.control_pdf{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control_form_inputs{
  width: 100%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
}

.control_select_lote{
  width: 100%;
  padding: 0.91% 2.2%;
  display: flex;
  justify-content: space-between;
}

.control_select_lote select{
  cursor: pointer;
  width: 30%;
  border: none;
  color: aliceblue;
  text-align: center;
  background-color: transparent;
  font-size: 1vw;
  font-weight: 600;
  padding: 0.4% 2%;
  transition: transform 0.3s ease-in;
}

.control_select_lote select:hover{
  transform: scale(1.1);
}

select:focus {
  outline: none;
  box-shadow: none;
}

.control_select_lote option{
  text-align: center;
  color: black;
}


