.dash_contain {
    width: 100%;
  height: 100%;
  display: flex;
  padding: 6vh 0 0 0.95vw;
  overflow: hidden;
  flex-direction: column;
  color: aliceblue;
}

.item_selected{
    contain: "";
    width: 130%;
    height: 100%;
    background-color: rgba(70, 69, 69, 0.456);
    position: absolute;
    left: -0.95vw;
    transition: opacity 0.6s ease;
}

.dash_item {
    cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 1vh 0;
}

.dash_item > h2 {
  font-size: 1.5vw;
  margin-left: 1vw;
  transition: opacity 0.7s ease-out;
}

.dashboard_texts_active{
    opacity: 1;
}

.dashboard_texts_desactive{
    opacity: 0;
} 

.dash_title_img {
  width: 2vw;
  height: 2vw;
  position: relative;
  
}

.dash_title_img > img {
  width: 2vw;
  height: 100%;
  object-fit: cover;
}

.menu_divider{
    content: "";
    margin-top: 8vh;
}

.dash_item > h3{
    white-space: nowrap;   
    font-size: 1vw;
    margin-left: 1vw;
    font-weight: 400;
    transition: opacity 0.7s ease-out;
    z-index: 1;
}

.dash_item_margin{
    margin-top: 1vh;
}

.panel_container{
  width: 100%;
  height: 100%;
}


.page_one_options{
  width: 100%;
}
