.control_PDF_Container {
  width: 70%;
  aspect-ratio: 11/8.49;
  overflow: hidden;
  box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.control_PDF_info {
  width: 100%;
  display: flex;
  margin-top: 6%;
  justify-content: space-between;
  padding: 0 8% ;
}


.control_PDF_titulo p {
  text-align: center;
  font-size: 125%;
}

.control_PDF_Metricas {
  display: flex;
  justify-content: center;
  margin-top: 4%;
  gap: 4%;
  font-weight: 500;
}

.control_pdf_metricas_container {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.control_pdf_metricas_titulo {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8%;
  color: white;
  background-color: #16385b;
  padding: 0.8%;
  border-right: 2px solid black;
}

.control_pdf_metricas_text {
  width: 40%;
  text-align: center;
}

.control_pdf_metrica_img {
  width: 15%;
  overflow: hidden;
}

.control_pdf_metrica_img img {
  width: 100%;
}

.control_PDF_grafico {
  width: 100%;
  height: 60%;
  margin-top: 5%;
}

.control_pdf_intervalo{
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  padding: 0 9%;
}

